:root{
    /* Purple colors */
    /* --50-color: #f5f3ff;
    --100-color: #ede9fe;
    --200-color: #ddd5ff;
    --300-color: #c3b4fe;
    --400-color: #b197fc;
    --500-color: #8b5af8;
    --600-color: #7c37f0;
    --700-color: #6d25dc;
    --800-color: #5c1fb8;
    --900-color: #4d1b97;
    --950-color: #2e0f66; */

    /* Blue colors */
    --50-color: #f0f6fe;
    --100-color: #dde9fc;
    --200-color: #c3dafa;
    --300-color: #84b6f4;
    --400-color: #6aa3f0;
    --500-color: #4781ea;
    --600-color: #3264de;
    --700-color: #2950cc;
    --800-color: #2842a5;
    --900-color: #253b83;
    --950-color: #1b2650;

    /* Yellow colors */
    /* --50-color: #fff9ed;
    --100-color: #fff1d5;
    --200-color: #fedfaa;
    --300-color: #fdc063;
    --400-color: #fba43c;
    --500-color: #f98816;
    --600-color: #ea6d0c;
    --700-color: #c2520c;
    --800-color: #9a4112;
    --900-color: #7c3712;
    --950-color: #431a07; */
}

.legend img {
    width: auto;
    height: 50px;
}

.legend {
    text-decoration: none;
}

.btn-primary-color{
    border: 1px solid var(--500-color);
    background-color: var(--500-color);
    color: var(--50-color);
    font-weight: 500;
}

.btn-primary-color:hover{
    background-color: var(--600-color);
    border: 1px solid var(--600-color);
    color: var(--50-color);
    font-weight: 500;
}

.btn-outline-color{
    border: 1px solid var(--500-color);
    color: var(--500-color);
    font-weight: 500;
}

.btn-outline-color:hover{
    background-color: var(--600-color);
    color: var(--50-color);
    font-weight: 500;
}

.btn-warning-color{
    border: 1px solid var(--900-color);
    color: var(--900-color);
    font-weight: 500;
}

.btn-warning-color:hover{
    background-color: var(--900-color);
    color: var(--50-color);
    font-weight: 500;
}

#navbar{
    max-height: 50px;
    background: var(--200-color) !important;
}

#main-container{
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
}

#tools{
    height: calc(100vh - 50px);
    background-color: var(--50-color);
}

#ticket{
    height: calc(100vh - 50px);
    background-color: var(--50-color);
    padding: 0;
}

#ticket-print-prev{
    background-color: var(--50-color);
    height: calc(100vh - 50px);
}

#finded-products{
    background-color: var(--50-color);
    height: calc(100vh - 140px);
    overflow-y: auto;
}

#control-finded-panel{
    background-color: var(--50-color);
    height: 50px;
}

#cantity-of-product{
    background-color: white;
    height: calc(100vh - 50px);
}

#product-search{
    height: 10%;
}

#complete-the-ticket-submit{
    background-color: white;
    height: calc(100vh - 50px);
}

#bill{
    height: 73%;
    overflow-y: auto;
}

#info-bar{
    background-color: var(--200-color);
    height: 17%;
}


@media (max-width: 992px){
    .legend {
        text-decoration: none;
        margin-bottom: 100px;
        padding: 0;
    }
}
